name: ci
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: npm ci
        run: npm ci
      - name: compile
        run: npm run compile
      - name: lint
        run: npm run lint
      - name: test
        run: npm test
